# Konten requirements.txt FINAL

# Dependensi Backend dan Database (dengan versi spesifik dari requirements_2.txt)
Flask==3.0.3
Flask-WTF==1.2.1
WTForms==3.1.2
psycopg2-binary==2.9.9
SQLAlchemy==2.0.36
python-dotenv==1.0.1

# Dependensi Geospasial (untuk PostGIS, KML, dan Visualisasi)
geopandas
Shapely
lxml
Flask-SQLAlchemy